.background-blobs-icon4 {
  position: absolute;
  top: -146px;
  left: -72px;
  width: 687.7px;
  height: 699.5px;
}
.white-background {
  position: absolute;
  top: 0;
  left: 446px;
  border-radius: var(--br-41xl) 0 0 var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 1478px;
  height: 1080px;
}
.create-account-as {
  position: absolute;
  top: 122px;
  left: 609px;
  display: inline-block;
  width: 507px;
  height: 79px;
}
.seller-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-black);
  width: 560px;
  height: 93px;
}
.seller1 {
  position: absolute;
  top: 7px;
  left: 211px;
  display: inline-block;
  width: 138px;
  height: 79px;
}
.buyer-child,
.seller {
  position: absolute;
  width: 560px;
  height: 93px;
}
.seller {
  top: 204px;
  left: 609px;
  color: var(--color-white);
}
.buyer-child {
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: #50b88b;
}
.buyer1 {
  position: absolute;
  top: 7px;
  left: 203px;
  display: inline-block;
  width: 153px;
  height: 79px;
}
.buyer,
.create {
  position: absolute;
  top: 204px;
  left: 1215px;
  width: 560px;
  height: 93px;
}
.create {
  top: 7px;
  left: 190px;
  display: inline-block;
  width: 188px;
  height: 79px;
}
.create-account1 {
  position: absolute;
  top: 850px;
  left: 609px;
  width: 560px;
  height: 93px;
  color: var(--color-white);
}
.create-account {
  width: 100%;
  position: relative;
  background-color: var(--color-lightseagreen);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
