@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.background-blobs-icon8 {
  position: absolute;
  top: -146px;
  left: -72px;
  width: 687.7px;
  height: 699.5px;
}
.white-background2 {
  position: absolute;
  top: -10px;
  left: 453px;
  border-radius: var(--br-41xl) 0 0 var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 1478px;
  height: 1090px;
}
.first-name4,
.first-name5 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-poppins);
  color: var(--color-gray-500);
}
.first-name4 {
  position: absolute;
  top: 320px;
  left: 1215px;
  font-size: var(--font-size-5xl);
}
.first-name5 {
  top: 456px;
  left: 616px;
}
.already-have-an,
.first-name5,
.first-name6 {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.first-name6 {
  border: 0;
  background-color: transparent;
  top: 456px;
  left: 1215px;
  font-family: var(--font-poppins);
  color: var(--color-gray-500);
}
.already-have-an {
  top: 899px;
  left: 1192px;
}
.create-account-as2 {
  position: absolute;
  top: 122px;
  left: 609px;
  display: inline-block;
  width: 507px;
  height: 79px;
}
.back-button-img2 {
  position: absolute;
  top: 82px;
  left: 610px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.first-name7,
.first-name8,
.first-name9 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 320px;
  left: 616px;
  font-family: var(--font-poppins);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.first-name8,
.first-name9 {
  top: 592px;
}
.first-name9 {
  top: 728px;
}
.seller-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-black);
}
.seller8 {
  position: absolute;
  height: 84.95%;
  width: 24.64%;
  top: 7.53%;
  left: 37.68%;
  display: inline-block;
}
.seller7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.seller6 {
  position: absolute;
  top: 203px;
  left: 609px;
  width: 560px;
  height: 93px;
  color: var(--color-white);
}
.buyer-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-mediumaquamarine);
}
.buyer-inner,
.buyer4,
.buyer5 {
  position: absolute;
}
.buyer5 {
  height: 84.95%;
  width: 27.32%;
  top: 7.53%;
  left: 36.25%;
  display: inline-block;
}
.buyer4 {
  top: 196px;
  left: 1215px;
  width: 560px;
  height: 93px;
  cursor: pointer;
}
.white-background3 {
  position: absolute;
  top: 382px;
  left: 1794px;
  border-radius: var(--br-41xl) 0 0 var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 1478px;
  height: 1080px;
}
.create2 {
  position: absolute;
  height: 84.95%;
  width: 33.57%;
  top: 7.53%;
  left: 33.93%;
  display: inline-block;
}
.create-accountdefault {
  position: absolute;
  top: 875px;
  left: 609px;
  width: 560px;
  height: 93px;
  cursor: pointer;
  color: var(--color-white);
}
.sign-in,
.sign-in1 {
  position: absolute;
  top: 0;
  left: 0;
}
.sign-in {
  top: 899px;
  left: 1538px;
  width: 80px;
  height: 36px;
  font-size: var(--font-size-5xl);
}
.logo-black9 {
  position: absolute;
  top: 0;
  left: 134.1px;
  border-radius: 31.36px 0 31.36px 0;
  background-color: var(--color-black);
  width: 138.7px;
  height: 64.7px;
}
.netze10,
.robiz10 {
  position: absolute;
  top: 8.9px;
  left: 143.2px;
  display: inline-block;
  width: 173.8px;
  height: 80.4px;
}
.netze10 {
  top: 8.2px;
  left: 0;
  color: var(--color-black);
  height: 48.4px;
}
.main-logo9 {
  position: absolute;
  top: 485px;
  left: 90px;
  width: 317px;
  height: 89.3px;
  opacity: 0;
  cursor: pointer;
  font-size: var(--font-size-24xl-6);
  color: var(--color-white);
  font-family: var(--font-gotham);
}
.create-account-seller.animate,
.main-logo9.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.create-account-seller {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-lightseagreen);
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
