<<<<<<< HEAD
.background-blobs-icon6,
.backlogo415 {
=======
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.background-blobs-icon7 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: -146px;
  left: -72px;
  width: 687.7px;
  height: 699.5px;
}
<<<<<<< HEAD
.backlogo415 {
  top: -7.3px;
  left: -18px;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray);
  width: 575px;
  height: 48.5px;
}
.about-us5,
.contact5,
.home13,
.products5 {
  position: absolute;
  top: 2.8px;
  left: 420.4px;
  display: inline-block;
  width: 92.8px;
  height: 28.8px;
}
.about-us5,
.home13,
.products5 {
  left: 269.2px;
  width: 110.4px;
}
.home13,
.products5 {
  top: 2.4px;
  left: 126.2px;
  width: 102.1px;
}
.home13 {
  top: 2.8px;
  left: 15.8px;
  width: 69.6px;
}
.line-icon {
  position: absolute;
  top: 30.2px;
  left: 128px;
  max-height: 100%;
  width: 97px;
}
.navbar5 {
  position: absolute;
  top: 102.3px;
  left: 450px;
  width: 540px;
  height: 33.7px;
}
.backlogo416,
.backlogo417 {
  background-color: var(--color-darkslategray);
}
.backlogo416 {
=======
.backlogo436,
.backlogo437 {
  background-color: var(--color-darkslategray);
}
.backlogo436 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 0;
  left: 1042px;
  border-radius: var(--br-7xs);
  width: 343px;
  height: 379px;
}
<<<<<<< HEAD
.backlogo417 {
  left: 695px;
}
.backlogo4-icon2,
.backlogo417,
.backlogo418 {
=======
.backlogo437 {
  left: 695px;
}
.backlogo4-icon8,
.backlogo437,
.backlogo438 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 0;
  border-radius: var(--br-7xs);
  width: 343px;
  height: 379px;
}
<<<<<<< HEAD
.backlogo418 {
  left: 347px;
  background-color: var(--color-darkslategray);
}
.backlogo4-icon2 {
=======
.backlogo438 {
  left: 347px;
  background-color: var(--color-darkslategray);
}
.backlogo4-icon8 {
>>>>>>> 7fff243 (frontend)
  left: 0;
}
.ezee-black-garbage2 {
  position: absolute;
  top: 311px;
  left: 19px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-5-icon2 {
=======
.image-5-icon6 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 20px;
  left: 15px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
.redragon-k617-fizz2 {
  position: absolute;
  top: 311px;
  left: 364px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-6-icon2 {
=======
.image-6-icon6 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 27px;
  left: 360px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
.qizlar-extended-gaming2 {
  position: absolute;
  top: 311px;
  left: 713px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-7-icon2 {
=======
.image-7-icon6 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 20px;
  left: 709px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
.wild-stone-code2 {
  position: absolute;
  top: 311px;
  left: 1061px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-8-icon2 {
=======
.image-8-icon6 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 20px;
  left: 1057px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
<<<<<<< HEAD
.row-22 {
=======
.row-23 {
  position: absolute;
>>>>>>> 7fff243 (frontend)
  top: 405px;
  left: 2px;
  width: 1385px;
  height: 379px;
<<<<<<< HEAD
}
.header2,
.row-22,
.shop2 {
  position: absolute;
}
.header2 {
=======
  opacity: 0;
}
.filters10.animate,
.header4.animate,
.login12.animate,
.main-logo8.animate,
.navbar6.animate,
.product-screen-3.animate,
.row-23.animate,
.search-bar6.animate,
.shop5.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.lg-electronics-ultragear-27gp72 {
  position: absolute;
  top: 311px;
  left: 19px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 96px;
}
.image-5-icon7 {
  position: absolute;
  top: 23px;
  left: 42px;
  width: 270px;
  height: 262px;
  object-fit: cover;
}
.himalaya-wellness-pure2 {
  color: inherit;
}
.himalaya-wellness-pure-herbs-m2 {
  margin: 0;
}
.image-6-icon7 {
  position: absolute;
  top: 23px;
  left: 401px;
  width: 236px;
  height: 271px;
  object-fit: cover;
}
.engage-woman-deodorant2,
.lakme-absolute-skin2 {
  position: absolute;
  top: 311px;
  left: 713px;
  display: inline-block;
  width: 310px;
  height: 68px;
}
.engage-woman-deodorant2 {
  left: 1061px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}
.image-8-icon7 {
  position: absolute;
  top: 11px;
  left: 1057px;
  width: 303px;
  height: 278px;
  object-fit: cover;
}
.row-33 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 1385px;
  height: 407px;
}
.header4 {
>>>>>>> 7fff243 (frontend)
  top: -63px;
  left: 2px;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray);
  width: 1386px;
  height: 48px;
<<<<<<< HEAD
}
.shop2 {
=======
  opacity: 0;
}
.back5,
.header4,
.shop5 {
  position: absolute;
}
.shop5 {
>>>>>>> 7fff243 (frontend)
  top: 276px;
  left: 431px;
  width: 1385px;
  height: 379px;
<<<<<<< HEAD
  text-align: center;
  font-size: var(--font-size-smi);
}
.backlogo419 {
=======
  opacity: 0;
  text-align: center;
}
.back5 {
  top: 846px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  width: 846px;
  height: 314px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.filters11 {
  width: 256px;
  position: relative;
  font-size: var(--font-size-17xl);
  text-decoration: underline;
  text-transform: capitalize;
  display: inline-block;
  height: 82px;
  flex-shrink: 0;
}
.checkbox-icon26 {
  position: absolute;
  height: 92.07%;
  width: 9.38%;
  top: 0;
  right: 90.63%;
  bottom: 7.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.laptop3 {
  position: absolute;
  height: 100%;
  width: 87.11%;
  top: 0;
  left: 12.89%;
  display: inline-block;
}
.component-23 {
  width: 256px;
  position: relative;
  height: 29px;
}
.checkbox-icon27 {
  width: 24px;
  height: 27.1px;
  overflow: hidden;
}
.checkbox-icon27,
.checkbox-icon28,
.clothing5 {
  position: relative;
  flex-shrink: 0;
}
.clothing5 {
  width: 223px;
  display: inline-block;
  height: 29px;
}
.checkbox-icon28 {
  width: 24px;
  height: 26.7px;
  overflow: hidden;
}
.filter-section4 {
  position: absolute;
  top: 31px;
  left: 24px;
  width: 256px;
  height: 322px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 11px 9px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.vector-icon57,
.vector-icon58 {
  position: absolute;
  height: 39.47%;
  width: 12.82%;
  top: 0;
  right: 87.18%;
  bottom: 60.53%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon58 {
  right: 65.81%;
  left: 21.37%;
}
.vector-icon59,
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66 {
  position: absolute;
  height: 39.47%;
  width: 12.82%;
  top: 0;
  right: 44.44%;
  bottom: 60.53%;
  left: 42.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66 {
  right: 21.37%;
  left: 65.81%;
}
.vector-icon61,
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66 {
  right: 0;
  left: 87.18%;
}
.vector-icon62,
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66 {
  top: 60.53%;
  right: 87.18%;
  bottom: 0;
  left: 0;
}
.vector-icon63,
.vector-icon64,
.vector-icon65,
.vector-icon66 {
  right: 65.81%;
  left: 21.37%;
}
.vector-icon64,
.vector-icon65,
.vector-icon66 {
  right: 44.44%;
  left: 42.74%;
}
.vector-icon65,
.vector-icon66 {
  right: 21.37%;
  left: 65.81%;
}
.vector-icon66 {
  right: 0;
  left: 87.18%;
}
.color6 {
  position: absolute;
  top: -54px;
  left: 3px;
  text-decoration: underline;
  display: inline-block;
  width: 256px;
}
.color-circle3 {
  position: absolute;
  top: 413px;
  left: 21px;
  width: 234px;
  height: 76px;
  text-align: left;
}
.price3 {
  position: absolute;
  top: 501px;
  left: 11px;
  text-decoration: underline;
  display: inline-block;
  width: 114px;
  height: 32.8px;
}
.price-icon4 {
  position: absolute;
  top: 510px;
  left: 114px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.price-section-child7 {
  position: absolute;
  top: 52px;
  left: 13.5px;
  width: 234px;
  height: 2px;
  object-fit: contain;
}
.price-section-child8,
.price-section-child9 {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.price-section-child8 {
  top: 41px;
  left: 23px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.price-section-child9 {
  top: 0;
  left: 15px;
  border-radius: var(--br-7xs);
  width: 150px;
  height: 30px;
}
.b12,
.b13,
.b14 {
  position: absolute;
  top: 68px;
  left: 0;
  display: inline-block;
  width: 45px;
  height: 15px;
}
.b13,
.b14 {
  top: 70px;
  left: 202px;
  width: 54px;
}
.b14 {
  top: 7px;
  left: 63px;
  color: var(--color-black);
  height: 16px;
}
.price-section4 {
  position: absolute;
  top: 555px;
  left: 8px;
  width: 256px;
  height: 85px;
  font-size: var(--font-size-mini);
}
.location3 {
  position: absolute;
  top: 59px;
  left: 15px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro);
  width: 241px;
  height: 30px;
}
.area7,
.choose-location3 {
  position: absolute;
  display: inline-block;
}
.area7 {
  top: 0;
  left: 0;
  text-decoration: underline;
  width: 114px;
  height: 32.8px;
}
.choose-location3 {
  top: 66px;
  left: 32px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 182px;
  height: 15px;
}
.area6,
.filters10 {
  position: absolute;
  top: 651px;
  left: 8px;
  width: 256px;
  height: 89px;
}
.filters10 {
  top: 218px;
  left: 65px;
  width: 314px;
  height: 846px;
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.logo-black8 {
  position: absolute;
  top: 0;
  left: 134.1px;
  border-radius: 31.36px 0 31.36px 0;
  background-color: var(--color-black);
  width: 138.7px;
  height: 64.7px;
}
.netze9,
.robiz9 {
  position: absolute;
  top: 8.9px;
  left: 143.2px;
  display: inline-block;
  width: 173.8px;
  height: 80.4px;
}
.netze9 {
  top: 8.2px;
  left: 0;
  color: var(--color-black);
  height: 48.4px;
}
.main-logo8 {
  position: absolute;
  top: 83px;
  left: 107px;
  width: 317px;
  height: 89.3px;
  opacity: 0;
  cursor: pointer;
  font-size: var(--font-size-24xl-6);
}
.backlogo442 {
  top: 0;
  left: calc(50% - 287.5px);
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray);
  width: 575px;
  height: 48.5px;
}
.backlogo442,
.home27,
.home28 {
  position: absolute;
}
.home28 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.home27 {
  top: 10px;
  left: calc(50% - 254.5px);
  width: 72px;
  height: 28px;
  cursor: pointer;
}
.about-us6,
.contact6,
.products7 {
  position: absolute;
  top: 10px;
  left: calc(50% + 16.5px);
  width: 107px;
  height: 28px;
}
.contact6,
.products7 {
  left: calc(50% + 165.5px);
}
.products7 {
  left: calc(50% - 140.5px);
  cursor: pointer;
}
.login-brown6,
.navbar6 {
  position: absolute;
  height: 48.5px;
}
.navbar6 {
  top: 95px;
  left: calc(50% - 524px);
  width: 575px;
  opacity: 0;
  font-size: var(--font-size-3xl-3);
}
.login-brown6 {
  top: 73.2px;
  left: 92.5px;
  border-radius: var(--br-7xs);
  background-color: var(--color-khaki);
  box-shadow: 0 4.4px 10.6px #000;
  width: 141.9px;
}
.login13 {
  position: absolute;
  top: 82px;
  left: calc(50% - 89.35px);
  display: inline-block;
  width: 90.6px;
  height: 29.1px;
}
.login12 {
  position: absolute;
  top: 6px;
  right: -75.7px;
  width: 414.7px;
  height: 119px;
  opacity: 0;
  cursor: pointer;
  font-size: var(--font-size-8xl-1);
  color: var(--color-black);
}
.backlogo443 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.51px;
  background-color: var(--color-darkslategray);
  width: 402px;
  height: 48px;
}
<<<<<<< HEAD
.search-products4 {
  position: absolute;
  top: 9px;
  left: 114px;
  display: inline-block;
  width: 228px;
  height: 29px;
}
.frame-icon4 {
  position: absolute;
=======
.search-products6 {
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-gotham);
  font-size: var(--font-size-3xl-3);
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: 114px;
  font-weight: 700;
  color: var(--color-darkgray);
  text-align: left;
  width: 228px;
  height: 29px;
}
.vector-icon72 {
  height: 66.67%;
  width: 66.67%;
  top: 12.5%;
  right: 20.83%;
  bottom: 20.83%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
}
.frame3,
.vector-icon72,
.vector-icon73 {
  position: absolute;
  overflow: hidden;
}
.vector-icon73 {
  height: 17.92%;
  width: 17.92%;
  top: 69.58%;
  right: 12.5%;
  bottom: 12.5%;
  left: 69.58%;
  max-width: 100%;
  max-height: 100%;
}
.frame3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
>>>>>>> 7fff243 (frontend)
  top: 12px;
  left: 28px;
  width: 24px;
  height: 24px;
<<<<<<< HEAD
  overflow: hidden;
}
.search-bar4 {
  position: absolute;
  top: 95px;
  left: 1086px;
  width: 402px;
  height: 48px;
  color: var(--color-gray-400);
}
.product-screen-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-lightseagreen);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl-3);
=======
}
.search-bar6 {
  position: absolute;
  top: 94px;
  left: calc(50% + 138px);
  width: 402px;
  height: 48px;
  opacity: 0;
}
.product-screen-3 {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-lightseagreen);
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-smi);
>>>>>>> 7fff243 (frontend)
  color: var(--color-white);
  font-family: var(--font-gotham);
}
