.background-blobs-icon3,
<<<<<<< HEAD
.backlogo48 {
=======
.backlogo410 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: -146px;
  left: -72px;
  width: 687.7px;
  height: 699.5px;
}
<<<<<<< HEAD
.backlogo48 {
=======
.backlogo410 {
>>>>>>> 7fff243 (frontend)
  top: -7.3px;
  left: -18px;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray);
  width: 575px;
  height: 48.5px;
}
<<<<<<< HEAD
.about-us3,
.contact3,
.home11,
.products3 {
=======
.about-us2,
.contact2,
.home10,
.products2 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 2.8px;
  left: 420.4px;
  display: inline-block;
  width: 92.8px;
  height: 28.8px;
}
<<<<<<< HEAD
.about-us3,
.home11,
.products3 {
  left: 269.2px;
  width: 110.4px;
}
.home11,
.products3 {
=======
.about-us2,
.home10,
.products2 {
  left: 269.2px;
  width: 110.4px;
}
.home10,
.products2 {
>>>>>>> 7fff243 (frontend)
  top: 2.4px;
  left: 126.2px;
  width: 102.1px;
}
<<<<<<< HEAD
.home11 {
=======
.home10 {
>>>>>>> 7fff243 (frontend)
  top: 2.8px;
  left: 15.8px;
  width: 69.6px;
}
<<<<<<< HEAD
.navbar-item {
=======
.navbar-child {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 30.2px;
  left: 128px;
  max-height: 100%;
  width: 97px;
}
<<<<<<< HEAD
.navbar3 {
=======
.navbar2 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 102.3px;
  left: 450px;
  width: 540px;
  height: 33.7px;
}
<<<<<<< HEAD
.backlogo410,
.backlogo49 {
  background-color: var(--color-darkslategray);
}
.backlogo49 {
=======
.backlogo411,
.backlogo412 {
  background-color: var(--color-darkslategray);
}
.backlogo411 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 0;
  left: 1042px;
  border-radius: var(--br-7xs);
  width: 343px;
  height: 379px;
}
<<<<<<< HEAD
.backlogo410 {
  left: 695px;
}
.backlogo4-icon1,
.backlogo410,
.backlogo411 {
=======
.backlogo412 {
  left: 695px;
}
.backlogo4-icon2,
.backlogo412,
.backlogo413 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 0;
  border-radius: var(--br-7xs);
  width: 343px;
  height: 379px;
}
<<<<<<< HEAD
.backlogo411 {
  left: 347px;
  background-color: var(--color-darkslategray);
}
.backlogo4-icon1 {
  left: 0;
}
.ezee-black-garbage1 {
=======
.backlogo413 {
  left: 347px;
  background-color: var(--color-darkslategray);
}
.backlogo4-icon2 {
  left: 0;
}
.ezee-black-garbage {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 311px;
  left: 19px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-5-icon1 {
=======
.image-5-icon2 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 20px;
  left: 15px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
<<<<<<< HEAD
.redragon-k617-fizz1 {
=======
.redragon-k617-fizz {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 311px;
  left: 364px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-6-icon1 {
=======
.image-6-icon2 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 27px;
  left: 360px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
<<<<<<< HEAD
.qizlar-extended-gaming1 {
=======
.qizlar-extended-gaming {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 311px;
  left: 713px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-7-icon1 {
=======
.image-7-icon2 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 20px;
  left: 709px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
<<<<<<< HEAD
.wild-stone-code1 {
=======
.wild-stone-code {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 311px;
  left: 1061px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
<<<<<<< HEAD
.image-8-icon1 {
=======
.image-8-icon2 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 20px;
  left: 1057px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
.row-21 {
<<<<<<< HEAD
=======
  position: absolute;
>>>>>>> 7fff243 (frontend)
  top: 405px;
  left: 2px;
  width: 1385px;
  height: 379px;
}
<<<<<<< HEAD
.header1,
.row-21,
=======
.lg-electronics-ultragear-27gp7 {
  position: absolute;
  top: 311px;
  left: 19px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 96px;
}
.image-5-icon3 {
  position: absolute;
  top: 23px;
  left: 42px;
  width: 270px;
  height: 262px;
  object-fit: cover;
}
.himalaya-wellness-pure {
  color: inherit;
}
.himalaya-wellness-pure-herbs-m {
  margin: 0;
}
.image-6-icon3 {
  position: absolute;
  top: 23px;
  left: 401px;
  width: 236px;
  height: 271px;
  object-fit: cover;
}
.engage-woman-deodorant,
.lakme-absolute-skin {
  position: absolute;
  top: 311px;
  left: 713px;
  display: inline-block;
  width: 310px;
  height: 68px;
}
.engage-woman-deodorant {
  left: 1061px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}
.image-8-icon3 {
  position: absolute;
  top: 11px;
  left: 1057px;
  width: 303px;
  height: 278px;
  object-fit: cover;
}
.row-31 {
  top: 5px;
  left: 4px;
  width: 1385px;
  height: 407px;
}
.header1,
.row-31,
>>>>>>> 7fff243 (frontend)
.shop1 {
  position: absolute;
}
.header1 {
  top: -63px;
  left: 2px;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray);
  width: 1386px;
  height: 48px;
}
.shop1 {
  top: 276px;
  left: 431px;
  width: 1385px;
  height: 379px;
  text-align: center;
  font-size: var(--font-size-smi);
}
<<<<<<< HEAD
.backlogo412 {
=======
.logo-black4 {
  position: absolute;
  top: 0;
  left: 134.1px;
  border-radius: 31.36px 0 31.36px 0;
  background-color: var(--color-black);
  width: 138.7px;
  height: 64.7px;
}
.netze4,
.robiz4 {
  position: absolute;
  top: 8.9px;
  left: 143.2px;
  display: inline-block;
  width: 173.8px;
  height: 80.4px;
}
.netze4 {
  top: 8.2px;
  left: 0;
  color: var(--color-black);
  height: 48.4px;
}
.main-logo4 {
  position: absolute;
  top: 78px;
  left: 69px;
  width: 317px;
  height: 89.3px;
  font-size: var(--font-size-24xl-6);
}
.login-brown2 {
  top: 73.2px;
  left: 92.5px;
  border-radius: var(--br-7xs);
  background-color: var(--color-khaki);
  box-shadow: 0 4.4px 10.6px #000;
  width: 141.9px;
  height: 48.5px;
}
.login-brown2,
.login4,
.login5 {
  position: absolute;
}
.login5 {
  top: 82px;
  left: calc(50% - 89.35px);
  display: inline-block;
  width: 90.6px;
  height: 29.1px;
}
.login4 {
  top: 17px;
  left: 1584px;
  width: 414.7px;
  height: 119px;
  font-size: var(--font-size-8xl-1);
  color: var(--color-black);
}
.backlogo417 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.51px;
  background-color: var(--color-darkslategray);
  width: 402px;
  height: 48px;
}
.search-products2 {
  position: absolute;
  top: 9px;
  left: 114px;
  display: inline-block;
  width: 228px;
  height: 29px;
}
<<<<<<< HEAD
.frame-icon2 {
=======
.frame-icon1 {
>>>>>>> 7fff243 (frontend)
  position: absolute;
  top: 12px;
  left: 28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search-bar2 {
  position: absolute;
  top: 95px;
  left: 1086px;
  width: 402px;
  height: 48px;
  color: var(--color-gray-400);
}
<<<<<<< HEAD
.product-screen-4 {
=======
.back2 {
  position: absolute;
  top: 846px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslategray);
  width: 846px;
  height: 314px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.filters5 {
  width: 256px;
  position: relative;
  font-size: var(--font-size-17xl);
  text-decoration: underline;
  text-transform: capitalize;
  display: inline-block;
  height: 82px;
  flex-shrink: 0;
}
.checkbox-icon12 {
  position: absolute;
  height: 92.07%;
  width: 9.38%;
  top: 0;
  right: 90.63%;
  bottom: 7.93%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.laptop {
  position: absolute;
  height: 100%;
  width: 87.11%;
  top: 0;
  left: 12.89%;
  display: inline-block;
}
.component-2 {
  width: 256px;
  position: relative;
  height: 29px;
}
.checkbox-icon13 {
  width: 24px;
  height: 27.1px;
  overflow: hidden;
}
.checkbox-icon13,
.checkbox-icon14,
.clothing2 {
  position: relative;
  flex-shrink: 0;
}
.clothing2 {
  width: 223px;
  display: inline-block;
  height: 29px;
}
.checkbox-icon14 {
  width: 24px;
  height: 26.7px;
  overflow: hidden;
}
.filter-section1 {
  position: absolute;
  top: 31px;
  left: 24px;
  width: 256px;
  height: 322px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 11px 9px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  height: 39.47%;
  width: 12.82%;
  top: 0;
  right: 87.18%;
  bottom: 60.53%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  right: 65.81%;
  left: 21.37%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon9 {
  position: absolute;
  height: 39.47%;
  width: 12.82%;
  top: 0;
  right: 44.44%;
  bottom: 60.53%;
  left: 42.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 21.37%;
  left: 65.81%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 0;
  left: 87.18%;
}
.vector-icon12,
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  top: 60.53%;
  right: 87.18%;
  bottom: 0;
  left: 0;
}
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 65.81%;
  left: 21.37%;
}
.vector-icon14,
.vector-icon15,
.vector-icon16 {
  right: 44.44%;
  left: 42.74%;
}
.vector-icon15,
.vector-icon16 {
  right: 21.37%;
  left: 65.81%;
}
.vector-icon16 {
  right: 0;
  left: 87.18%;
}
.color3 {
  position: absolute;
  top: -54px;
  left: 3px;
  text-decoration: underline;
  display: inline-block;
  width: 256px;
}
.color-circle {
  position: absolute;
  top: 413px;
  left: 21px;
  width: 234px;
  height: 76px;
  text-align: left;
}
.price {
  position: absolute;
  top: 501px;
  left: 11px;
  text-decoration: underline;
  display: inline-block;
  width: 114px;
  height: 32.8px;
}
.price-icon1 {
  position: absolute;
  top: 510px;
  left: 114px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.line-icon {
  position: absolute;
  top: 52px;
  left: 13.5px;
  width: 234px;
  height: 2px;
  object-fit: contain;
}
.ellipse-div,
.rectangle-div {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.ellipse-div {
  top: 41px;
  left: 23px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.rectangle-div {
  top: 0;
  left: 15px;
  border-radius: var(--br-7xs);
  width: 150px;
  height: 30px;
}
.b3,
.b4,
.b5 {
  position: absolute;
  top: 68px;
  left: 0;
  display: inline-block;
  width: 45px;
  height: 15px;
}
.b4,
.b5 {
  top: 70px;
  left: 202px;
  width: 54px;
}
.b5 {
  top: 7px;
  left: 63px;
  color: var(--color-black);
  height: 16px;
}
.price-section1 {
  position: absolute;
  top: 555px;
  left: 8px;
  width: 256px;
  height: 85px;
  font-size: var(--font-size-mini);
}
.location {
  position: absolute;
  top: 59px;
  left: 15px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro);
  width: 241px;
  height: 30px;
}
.area1,
.choose-location {
  position: absolute;
  display: inline-block;
}
.area1 {
  top: 0;
  left: 0;
  text-decoration: underline;
  width: 114px;
  height: 32.8px;
}
.choose-location {
  top: 66px;
  left: 32px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 182px;
  height: 15px;
}
.area,
.filters4 {
  position: absolute;
  top: 651px;
  left: 8px;
  width: 256px;
  height: 89px;
}
.filters4 {
  top: 213px;
  left: 69px;
  width: 314px;
  height: 846px;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.product-screen-2 {
>>>>>>> 7fff243 (frontend)
  width: 100%;
  position: relative;
  background-color: var(--color-lightseagreen);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl-3);
  color: var(--color-white);
  font-family: var(--font-gotham);
}
