.backlogo422,
.backlogo423 {
  background-color: var(--color-darkslategray);
}
.backlogo422 {
  position: absolute;
  top: 0;
  left: 1042px;
  border-radius: var(--br-7xs);
  width: 343px;
  height: 379px;
}
.backlogo423 {
  left: 695px;
}
.backlogo4-icon3,
.backlogo423,
.backlogo424 {
  position: absolute;
  top: 0;
  border-radius: var(--br-7xs);
  width: 343px;
  height: 379px;
}
.backlogo424 {
  left: 347px;
  background-color: var(--color-darkslategray);
}
.backlogo4-icon3 {
  left: 0;
}
.lg-electronics-ultragear-27gp7 {
  position: absolute;
  top: 311px;
  left: 19px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 96px;
}
.image-5-icon3 {
  position: absolute;
  top: 23px;
  left: 42px;
  width: 270px;
  height: 262px;
  object-fit: cover;
}
.himalaya-wellness-pure {
  color: inherit;
}
.himalaya-wellness-pure-herbs-m {
  margin: 0;
}
.himalaya-wellness-pure-container {
  position: absolute;
  top: 311px;
  left: 364px;
  text-decoration: underline;
  display: inline-block;
  width: 310px;
  height: 68px;
}
.image-6-icon3 {
  position: absolute;
  top: 23px;
  left: 401px;
  width: 236px;
  height: 271px;
  object-fit: cover;
}
.lakme-absolute-skin {
  position: absolute;
  top: 311px;
  left: 713px;
  display: inline-block;
  width: 310px;
  height: 68px;
}
.image-7-icon3 {
  position: absolute;
  top: 20px;
  left: 709px;
  width: 314px;
  height: 269px;
  object-fit: cover;
}
.engage-woman-deodorant {
  position: absolute;
  top: 311px;
  left: 1061px;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 310px;
  height: 68px;
}
.image-8-icon3 {
  position: absolute;
  top: 11px;
  left: 1057px;
  width: 303px;
  height: 278px;
  object-fit: cover;
}
.row-3 {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 1385px;
  height: 407px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-gotham);
}
